@import url('https://fonts.cdnfonts.com/css/minecraft-4');
body{
    background: url('background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.btn{
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    color: violet;
    border: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn:hover{
    transform: translateY(-10px);
}
.btn1{
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    color: violet;
    border: 10px;
    border-radius: 5px;
    transition: transform 0.4s;
}

.btn1:hover{
    transform: translateY(-10px);
}
.btn2{
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    color: violet;
    border: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn2:hover{
    transform: translateY(-10px);
}
.btn3{
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    color: violet;
    border: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn3:hover{
    transform: translateY(-10px);
}
.btn4{
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    color: violet;
    border: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn4:hover{
    transform: translateY(-10px);
}
.btn5{
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    color: violet;
    border: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn5:hover{
    transform: translateY(-10px);
}
.btn6{
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    color: violet;
    border: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn6:hover{
    transform: translateY(-10px);
}
.btn7{
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    color: violet;
    border: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn7:hover{
    transform: translateY(-10px);
}
.btn8{
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    color: violet;
    border: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn8:hover{
    transform: translateY(-10px);
}.btn9{
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    color: violet;
    border: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn9:hover{
    transform: translateY(-10px);
}
.btn10{
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    color: violet;
    border: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn10:hover{
    transform: translateY(-10px);
}
.btn11{
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    color: violet;
    border: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn11:hover{
    transform: translateY(-10px);
}
