@import url('https://fonts.cdnfonts.com/css/minecraft-4');
body{
    background: url('background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.background{
    width: 2000px;
}
.signup{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.login{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.nether-update-link{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;  
}
.wild-update-link{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;  
}
.img{
    width: 1350px;
    height: 500px;
}
.img2{
    width: 1200px;
    height: 500px;
}
.ocean-update-link{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;  
}
.trails-tales-update-link{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif; 
}
.about-game-link{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif; 
}
